@font-face {
    font-family: Signika;
    src: url(../Fonts/Signika.ttf);
}
:root{
    --main-fonts: Signika;
    --background-color: #2D7BD8;
    --white-color: #FFF;
    --Highlighting-Color: #005BD8;
    --hoverColor: #4A8fEA;
}
*, *::after, *::before{
    box-sizing: border-box;
    padding: 0; margin: 0;
    list-style: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-fonts);
    background: var(--background-color);
}

.wrapper{
    width: 450px;
    background: #FFF;
    border-radius: 10px;
}

.wrapper .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 10px;
    font-size: 24px;
}

.header .icons .icon{
    cursor: pointer;
    width: 35px; height: 35px;
    border-radius: 50%;
}

.header .icons .leftArrow{
    padding: 5px 10px 10px 9.5px;
}

.header .icons .rightArrow{
    padding: 5px 10px 10px 11px;
}

.header .icons .rightArrow:hover,
.header .icons .leftArrow:hover{
    background: #E92C7C;
    color: #FFF;
    transition: 0.3s ease;
}

.wrapper .calender{
    padding: 20px;
}

.calender ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calender ul li{
    position: relative;
    width: calc(100% / 7);
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;
}

.calender .days li{
    cursor: pointer;
    z-index: 1;
}

.calender .days li::before {
    position: absolute;
    content: '';
    top: 50%; left: 50%;
    width: 40px; height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease;
}

.calender .days li:hover::before{
    background: var(--hoverColor);
}

.calender  .days li:hover{
    color: var(--white-color);
}

.calender .days li.inactive{
    color: #aaa;
} 
.calender .days li.inactive:hover::before{
    background: rgb(225, 225, 225);
    color: #FFF;
} 

.calender .days li.active{
    color: var(--white-color);
}
.calender .days li.active::before{
    background: var(--Highlighting-Color);
}